@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../../node_modules/swiper/swiper-bundle.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.topbar {
  padding-top: 5px;
  padding-bottom: 5px;
}
.topbar ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.topbar ul li p,
.topbar ul li a {
  color: #fff;
  margin-bottom: 0;
}
.topbar ul li p {
  font-weight: 500;
}

.megamenheader {
  background: #ddc99e;
  top: 4pc;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  left: 0;
  padding: 20px 0;
  position: absolute;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  width: 100%;
  z-index: 9999;
}
.megamenheader ul.category-list {
  -moz-column-gap: 2pc;
  column-gap: 2pc;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: inherit;
  justify-content: flex-start;
  row-gap: 1pc;
}
.megamenheader ul.category-list li {
  width: 15vw;
}

.supplier-detail {
  margin: 0 4pc;
}

.middle-bar.navbar form.search-bar {
  display: flex;
}
.middle-bar.navbar form.search-bar .form-control {
  background: #eeeeee;
  border: 0;
  border-radius: 0;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 350px;
}
.middle-bar.navbar form.search-bar .form-control input {
  border: 0;
  background: transparent;
  width: 100%;
}
.middle-bar.navbar form.search-bar .icon {
  font-size: 22px;
}
.middle-bar.navbar form.search-bar button.btn {
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle-bar.navbar form.search-bar button.btn svg {
  font-size: 26px;
  line-height: 20px;
}
.middle-bar.navbar form.search-bar ul.custom-search-list {
  width: 100%;
}
.middle-bar.navbar form.search-bar ul.custom-search-list label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}
.middle-bar.navbar .navbar-nav {
  justify-content: center;
  gap: 20px;
}
.middle-bar.navbar .navbar-nav .nav-link {
  cursor: pointer;
  font-weight: 500;
  color: #000;
}
.middle-bar.navbar .sign-in-btn button {
  gap: 5px;
  border: 0;
  background-color: transparent;
}
.middle-bar.navbar .sign-in-btn button img {
  width: auto;
  height: 40px;
  -o-object-fit: contain;
  object-fit: contain;
}
.middle-bar.navbar .sign-in-btn .custom-search ul.custom-search-list {
  border-radius: 15px;
  width: -moz-max-content;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1pc;
  padding: 1pc 0;
}
.middle-bar.navbar .sign-in-btn .custom-search ul.custom-search-list li {
  border: 0;
  padding: 8px 30px;
}
.middle-bar.navbar .sign-in-btn .custom-search ul.custom-search-list li a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000;
}
.middle-bar.navbar
  .sign-in-btn
  .custom-search
  ul.custom-search-list
  li.bottom-li {
  border-top: 1px solid lightgray !important;
  margin-top: 1pc;
  padding-top: 1pc !important;
}
.middle-bar.navbar
  .sign-in-btn
  .custom-search
  ul.custom-search-list
  li.bottom-li
  button.btn {
  font-weight: 500;
  padding: 8px 2pc;
}
.middle-bar.navbar
  .sign-in-btn
  .custom-search
  ul.custom-search-list
  li.bottom-li
  p.text {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  margin-top: 10px;
}
.middle-bar.navbar .sign-in-btn .custom-search ul.custom-search-list li .icon {
  font-size: 18px;
}
.middle-bar.navbar .offcanvas-body {
  justify-content: space-around;
}

.bottom-bar.navbar {
  background-color: #ddc99b;
}
.bottom-bar.navbar .navbar-nav {
  justify-content: center;
  gap: 20px;
}
.bottom-bar.navbar .navbar-nav .nav-link {
  cursor: pointer;
  font-weight: 500;
  color: #000;
}
.bottom-bar.navbar .navbar-nav .nav-link a {
  color: #000;
  position: relative;
}
.bottom-bar.navbar .navbar-nav .nav-link a:hover {
  color: #fff;
}
.bottom-bar.navbar .navbar-nav .nav-link a::after {
  background: #000;
  bottom: -2px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  width: 0;
}
.bottom-bar.navbar .navbar-nav .nav-link a:hover::after {
  width: 100%;
}
.bottom-bar.navbar .navbar-nav .nav-link:hover .custom-dropdown {
  transition: all 0.5s;
  height: -moz-max-content;
  height: max-content;
  min-height: 25vh;
}
.bottom-bar.navbar .navbar-nav .active a {
  border-bottom: 2px solid #000;
  margin-top: 10px;
}

header .topbar,
header .middle-bar,
header .bottom-bar {
  padding-left: 4pc;
  padding-right: 4pc;
}

.custom-search {
  position: relative;
}
.custom-search .custom-search-list {
  transition: all 0.5s ease-in-out;
  position: absolute;
  left: 0px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1254901961);
  border-radius: 0 0 15px 15px;
  z-index: 99999 !important;
  width: 200px;
}
.custom-search .custom-search-list li {
  padding: 10px 12px;
}
.custom-search .custom-search-list li:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.custom-dropdown {
  position: absolute;
  left: 0;
  width: 100%;
  /* height: 50vh; */
  background: #ddc99b;
  overflow: hidden;
  transform: translateY(16px);
  height: 0;
  transition: all 0.5s;
  z-index: 999;
}
.custom-dropdown-inner {
  padding: 2pc 0;
  height: inherit;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.custom-dropdown ul.category-list {
  height: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 2pc;
  column-gap: 2pc;
  row-gap: 1pc;
  justify-content: flex-start;
}
.custom-dropdown ul.category-list li {
  width: 15vw !important;
}
.custom-dropdown ul.category-list .link {
  color: #000;
}

.main-banner {
  background-image: url("../images/top_banner.jpeg");
  background-size: cover;
  background-attachment: fixed;
  height: 70vh;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}
.main-banner .content {
  color: #fff;
  text-align: center;
}
.main-banner .content h1,
.main-banner .content h6 {
  color: #fff;
}
.main-banner .content p.desp {
  margin: 2pc 0;
  font-weight: 600;
}
.main-banner .content ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.main-banner .content ul li .icon {
  height: 70px;
  width: 70px;
  margin: 0 auto 1pc;
  border: 1px solid #b08218;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 37px;
  border-radius: 50%;
  padding: 10px;
}

.page-banner {
  background-image: url("../images/top_banner.jpeg");
  background-size: cover;
  background-position: center;
  height: 40vh;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.22);
  margin: 0 4pc;
  border-radius: 10px;
}
.page-banner .content {
  color: #fff;
  text-align: center;
}
.page-banner .content h1,
.page-banner .content h6 {
  color: #fff;
}
.page-banner .content p.desp {
  margin: 2pc 0 0;
  font-weight: 600;
}

.category {
  margin-right: 10px;
}
.category .box {
  position: relative;
  margin: 0 0 30px 10px;
  overflow: hidden;
}
.category .box img {
  height: 276px;
  width: 100%;
  transition: all 0.5s;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.38) 0px 1px 4px;
}
.category .box .text {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px 5px;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}
.category .box .text h5 {
  margin: 0;
  color: #000;
  font-size: 20px;
  text-align: center;
}

.product-box {
  border-radius: 12px;
  border: 1px solid lightgray;
  padding: 1pc;
  position: relative;
  background-color: #fff;
}
.product-box img.img {
  width: 100%;
  height: 215px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 12px;
}
.product-box button.call-btn {
  background: #39ab68;
  border: 9px solid #fff;
  color: #fff;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  font-size: 30px;
  position: absolute;
  top: -25px;
  right: -20px;
}
.product-box button.call-btn svg {
  transition: all 0.5s ease-in-out;
}
.product-box button.call-btn:hover svg {
  transform: rotate(45deg) scale(0.9);
}
.product-box .content {
  text-align: center;
  padding: 1pc 1pc 0;
}
.product-box .content h6 {
  font-weight: 600;
  font-size: 14px;
}
.product-box .content h6.size {
  margin: 1pc 0;
}
.product-box .content h6.prize {
  margin: 0;
  color: #b08218;
}

.flash-sale-box {
  background: #013c6f;
  color: #fff;
  font-family: auto;
  text-align: center;
  padding: 2pc;
  border-radius: 20px;
  height: 100%;
}
.flash-sale-box h1,
.flash-sale-box h4 {
  color: #fff;
  margin: 0;
}
.flash-sale-box .offer {
  margin-top: 2pc;
}
.flash-sale-box .offer h4 {
  font-size: 32px;
}
.flash-sale-box .title {
  background-image: url("../images/decor/sale-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flash-sale-box .title h1 {
  font-size: 60px;
}

.product-box-2 {
  border: 1px solid lightgray;
  padding: 1pc;
  border-radius: 15px;
  width: 90%;
  background: #fff;
}
.product-box-2 img.img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
}
.product-box-2 h6.title {
  position: absolute;
  bottom: 0;
  left: 5%;
  background: #fff;
  padding: 19px;
  border-radius: 10px 10px 0 0;
  text-align: center;
  width: 90%;
  margin: 0;
  padding-bottom: 0;
  font-size: 15px;
}
.product-box-2 ul.tags {
  position: absolute;
  top: 0;
  right: 0;
}
.product-box-2 ul.tags li {
  background: #f74d57;
  margin: 6px 0;
  padding: 3px 10px;
  border-radius: 5px 0 0 5px;
  color: #fff;
  font-weight: 600;
}
.product-box-2 .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1pc;
  padding: 0 1pc;
}
.product-box-2 .content button.call-btn {
  background: #f74d57;
  color: #fff;
  border: 0;
  width: 60px;
  border-radius: 5px;
  font-size: 22px;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-box-2 .content h6 {
  font-size: 15px;
}
.product-box-2 .content h6 .prize {
  font-weight: 600;
}
.product-box-2 .content h6.old .prize {
  text-decoration: line-through;
}
.product-box-2 .content h6.new {
  margin-bottom: 0;
}
.product-box-2 .content h6.new span.prize {
  color: #f74d57;
}

.expired-notice {
  text-align: center;
  padding: 2rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  margin: 0.5rem;
}
.expired-notice > span {
  font-size: 1rem;
  font-weight: bold;
  color: red;
}
.expired-notice > p {
  font-size: 1.5rem;
}

.show-counter {
  padding: 0.5rem;
  font-family: "Poppins", sans-serif;
}
.show-counter .countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #000;
}
.show-counter .countdown {
  line-height: 1.25rem;
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.show-counter .countdown + p {
  color: #fff;
}
.show-counter .countdown > p {
  margin: 0;
  border: 1px solid #ebebeb;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  min-width: 47px;
}
.show-counter .countdown > span {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1rem;
  color: #fff;
  margin-top: 10px;
  font-weight: 500;
}

.find-supplier {
  border: 1px solid lightgray;
  padding: 1pc;
  border-radius: 15px;
  background: #fff;
  text-align: center;
}
.find-supplier img.img {
  border-radius: 10px;
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
}
.find-supplier h6 {
  font-size: 19px;
  margin: 1pc 0 0;
}

.vender-box {
  text-align: center;
}
.vender-box .inner {
  border: 1px solid lightgray;
  padding: 1pc;
  border-radius: 15px;
  background: #fff;
}
.vender-box img.img {
  border-radius: 10px;
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
}
.vender-box h6 {
  padding: 0 1pc;
  margin: 1pc 0;
}
.vender-box .btn {
  margin-top: -35px;
}

.clients-box {
  text-align: center;
}
.clients-box img {
  height: 85px;
  width: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.more-box {
  position: relative;
  height: 100%;
}
.more-box .icon {
  background: #b08218;
  color: #fff;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 44px;
  border-radius: 50%;
  margin: 0 auto 0pc;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.more-box .content {
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1254901961);
  padding: 5pc 2pc 2pc;
  border-radius: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.more-box .content h4 {
  font-weight: 700;
}

.contact-us {
  background-image: url("../images/decor/bg-1.png");
  background-size: 100% 100%;
}
.contact-us .left {
  padding-top: 4pc;
}
.contact-us .left .heading {
  margin-bottom: 4pc;
}
.contact-us .left .list {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 10px;
}
.contact-us .left .list li {
  width: 33.33%;
  text-align: center;
}
.contact-us .left .list li .icon {
  height: 70px;
  width: 70px;
  margin: 0 auto 1pc;
  border: 1px solid #b08218;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 37px;
  border-radius: 50%;
  background-color: #b08218;
  padding: 10px;
  color: white;
}
.contact-us .left .list li h6 {
  font-weight: 600;
  margin-bottom: 0;
}
.contact-us .right form.form {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1254901961);
  padding: 2pc;
  border-radius: 15px;
  background-color: #fff;
}

.news-letter {
  background-color: #fff7e9;
}

footer {
  background-color: #000;
}
footer .copyright,
footer .footer {
  position: relative;
  z-index: 6;
}

.footer {
  padding: 4pc 0;
  color: rgba(255, 255, 255, 0.5019607843);
}
.footer a {
  color: inherit;
}
.footer .icon:hover,
.footer a:hover {
  color: #b08218;
}
.footer .title {
  color: #b08218;
  margin-bottom: 1.5pc;
  font-weight: 700;
}
.footer .social-links {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 1pc;
}
.footer .social-links li a {
  height: 40px;
  width: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5019607843);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.footer .social-links li a:hover {
  background-color: #b08218;
  color: #fff;
  border-color: #b08218;
}
.footer .links li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.footer .links li:not(:last-child) {
  margin-bottom: 8px;
}
.footer .links li .icon {
  color: #b08218;
}

.copyright {
  padding: 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1254901961);
  color: #fff;
}
.copyright a {
  color: inherit;
}

.shop-page .product-name {
  display: flex;
  align-items: center;
  gap: 2px;
}
.shop-page .product-name li {
  font-weight: 600;
  font-size: 17px;
}
.shop-page .product-name li .icon {
  font-size: 25px;
}

.shop-filter {
  border: 1px solid lightgray;
  padding: 1pc;
}
.shop-filter .title {
  font-weight: 600;
  margin-bottom: 1pc;
}
.shop-filter .comm-list li {
  margin-bottom: 5px;
}
.shop-filter .box {
  padding: 1pc 0;
}
.shop-filter .box:not(:last-child) {
  border-bottom: 1px solid lightgray;
}
.shop-filter .box:last-child {
  padding-bottom: 0;
}
.shop-filter .box label {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 500;
  color: #57577a;
  cursor: pointer;
}
.shop-filter .inner-list {
  padding-left: 1pc;
}
.shop-filter .list {
  max-height: 250px;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 10px;
}
.shop-filter .list::-webkit-scrollbar {
  width: 5px;
}
.shop-filter .list::-webkit-scrollbar-thumb {
  background: #bebcbc;
  border-radius: 10px;
}
.shop-filter .list::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.shop-filter .price-range {
  display: flex;
  align-items: center;
  gap: 10px;
}

.category-page img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 1pc;
}
.category-page .title {
  line-height: normal;
  font-weight: 600;
}
.category-page .sub-category li {
  font-weight: 500;
  color: #333232;
}

.custom-modal {
  position: relative;
}
.custom-modal .btn-close {
  position: absolute;
  top: 1pc;
  left: 1pc;
  opacity: 0.8;
}
.custom-modal .btn-close.right {
  left: auto;
  right: 1pc;
}

.sign-in-modal {
  text-align: center;
  padding: 3pc;
}
.sign-in-modal img.country-img {
  height: 30px;
  width: 30px;
  -o-object-fit: contain;
  object-fit: contain;
}
.sign-in-modal .form-control {
  display: flex;
  align-items: center;
}
.sign-in-modal .form-control .input {
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #000;
}
.sign-in-modal .form-control .input input {
  font-weight: inherit;
}
.sign-in-modal .custom-search {
  padding-right: 10px;
}
.sign-in-modal .custom-search p.pointer {
  display: flex;
  align-items: center;
}
.sign-in-modal .custom-search-list {
  border-radius: 0;
}
.sign-in-modal .custom-search-list li {
  padding: 4px 10px;
}
.sign-in-modal .custom-search-list li img {
  height: 30px;
  width: 30px;
  -o-object-fit: contain;
  object-fit: contain;
}
.sign-in-modal .heading {
  margin: 1pc 0;
}

.product-page ul.mini-img {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1pc;
  justify-content: center;
  margin-top: 1pc;
}
.product-page ul.mini-img img {
  height: 100px;
  width: 100px;
  cursor: pointer;
  -o-object-fit: cover;
  object-fit: cover;
  border: 1px solid lightgray;
  padding: 3px;
}
.product-page .big-img {
  overflow: hidden;
  border-radius: 10px;
}
.product-page .big-img:hover img {
  transform: scale(1.5);
  transition: all 1s;
}
.product-page .big-img img {
  height: 400px;
  width: 100%;
  transition: all 1s;
  border-radius: inherit;
}
.product-page .mid ul.info {
  width: 80%;
  background: rgba(204, 204, 204, 0.1411764706);
}
.product-page .mid ul.info li {
  padding: 7px 1pc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}
.product-page .mid ul.info li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.product-page .mid .desp {
  margin: 1pc 0 10px;
  font-size: 15px;
}
.product-page .mid .desp p {
  line-height: normal;
}
.product-page .mid .sizes ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
.product-page .mid .sizes ul li {
  background: rgba(204, 204, 204, 0.3019607843);
  color: #000;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 14px;
  cursor: pointer;
}
.product-page .mid .btns {
  margin: 1pc 0;
  display: flex;
  align-items: center;
  gap: 1pc;
}
.product-page .mid .btns .btn-custom {
  --bs-btn-padding-x: 2pc;
  --bs-btn-padding-y: 13px;
}
.product-page .right {
  background-color: #fff7e9;
  padding: 1pc;
}
.product-page .right p,
.product-page .right .list-circle li {
  font-size: 13px;
  line-height: normal;
  font-weight: 500;
  margin-bottom: 0;
  color: #000;
}
.product-page .right .info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
}
.product-page .right .info .img {
  height: 80px;
  width: 80px;
  -o-object-fit: cover;
  object-fit: cover;
}
.product-page .right .info .supplier-rating {
  display: flex;
  align-items: center;
  gap: 5px;
}
.product-page .right .btn {
  --bs-btn-padding-y: 8px;
}

.product-tabs .tab-description ul.info {
  width: 100%;
  background: rgba(204, 204, 204, 0.1411764706);
}
.product-tabs .tab-description ul.info li {
  padding: 7px 1pc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}
.product-tabs .tab-description ul.info li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.product-tabs ul.tabs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 2px solid #ccc;
  gap: 2pc;
}
.product-tabs ul.tabs li {
  padding-bottom: 1pc;
  color: #000;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
}
.product-tabs ul.tabs li.active {
  color: #b08218;
  border-bottom: 2px solid;
  margin-bottom: -2px;
}
.product-tabs .tab-inner {
  padding-top: 2pc;
}
.product-tabs .tab-inner .desp p {
  margin-bottom: 0;
}

.swiper-button-prev,
.swiper-button-next {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1254901961);
}
.swiper-button-prev:after,
.swiper-button-next:after {
  color: #b08218;
  font-size: 25px;
  font-weight: bold;
}

.product-review {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1254901961);
  border-radius: 10px;
  padding: 2pc;
  border: 1px solid transparent;
  background-color: #fff;
  transition: all 0.5s;
}
.product-review:hover {
  border-color: #b08218;
  transform: scale(0.98);
  box-shadow: none;
  transition: all 0.5s;
}
.product-review .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-review .top .name {
  display: flex;
  align-items: center;
  gap: 16px;
}
.product-review .top .name img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}
.product-review .top .name p {
  font-weight: 600;
}
.product-review .top .name h6 {
  margin: 0;
  font-weight: 600;
  font-size: 19px;
}
.product-review .desp p {
  line-height: normal;
  font-size: 15px;
  margin-top: 10px;
}

.supplier-detail .box li.left img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
}
.supplier-detail .box li.left ul.inner {
  display: flex;
  align-items: center;
  gap: 1pc;
}
.supplier-detail .box li.left ul.inner ul li {
  display: flex;
  gap: 10px;
  color: #000;
  font-weight: 500;
  margin-bottom: 5px;
}
.supplier-detail .box li.left ul.innner1 .icon-brown-list {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}
.supplier-detail .box li.left ul.innner1 span {
  font-size: 32px;
}
.supplier-detail .box li.right ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
.supplier-detail .box li.right ul a {
  width: 180px;
  justify-content: center;
}

.supplier-product-box img.img {
  height: 285px;
}

.supplier-products .box {
  display: flex;
  gap: 1pc;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1254901961);
  background: #fff;
}
.supplier-products .box .image {
  width: 45%;
  position: relative;
}
.supplier-products .box .image img {
  width: 100%;
  height: 225px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 12px 0 0 12px;
}
.supplier-products .box .image .btn {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0;
  padding: 11px 20px;
}
.supplier-products .box .content {
  padding: 1pc;
}
.supplier-products .box .content p {
  margin: 0;
  font-size: 15px;
  line-height: normal;
  font-weight: 500;
}
.supplier-products .box .content h5 {
  font-weight: 600;
}

.product-video .image {
  height: 300px;
}
.product-video .image iframe {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 15px;
}
.product-video .content {
  margin-top: 10px;
}
.product-video .content h5 {
  font-weight: 600;
  margin-bottom: 0;
}
.product-video .content p {
  font-size: 14px;
  line-height: normal;
}

.supplier-profile .box {
  display: flex;
  gap: 1pc;
  background: #fff;
  padding: 2pc 1pc;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1254901961);
  border: 1px solid transparent;
  transition: all 0.5s;
}
.supplier-profile .box .icon {
  font-size: 30px;
}
.supplier-profile .box .content h5 {
  font-weight: 600;
}
.supplier-profile .box .content p {
  font-size: 13px;
  font-weight: 500;
}
.supplier-profile .box:hover {
  transform: scale(0.99);
  border-color: #b08218;
  transition: all 0.5s;
}

.supplier-tabs li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.subscription-container {
  background-color: "#FAFBFD";
}
.subscription-container .subsctiption-heading {
  font-size: 40px;
  margin: 50px 0px 18px 0px;
  color: black;
  font-weight: 600;
}
.subscription-container .subscription-description {
  font-size: 18px;
  width: 50%;
  margin: 0px 0px 30px 0px;
  color: rgba(0, 0, 0, 0.575);
  font-weight: 400;
}
.subscription-container .subscription-card {
  width: 30%;
  margin: 20px 1.5%;
  min-height: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 23px -7px rgba(54, 53, 54, 0.253);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
}
.subscription-container .subscription-card .subscription-card-heading {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}
.subscription-container .subscription-card .subscription-card-price {
  font-size: 29px;
  font-weight: 700;
  color: #ddc99b;
}
.subscription-container .subscription-card .subscription-card-days {
  font-size: 20px;
  font-weight: 500;
  color: #ddc99b;
}
.subscription-container .subscription-card .subscription-card-description {
  margin-top: 20px;
}
.subscription-container .subscription-card .subscription-card-message-list {
  width: 90%;
  margin-top: 30px;
}
.subscription-container .subscription-card .subscription-card-message-list li {
  list-style: circle;
  width: 100%;
}
.subscription-container .subscription-card .subsctiption-card-button {
  position: absolute;
  bottom: 30px;
}

.profile-section-container {
  min-height: 150px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.123);
  padding: 30px !important;
  border-radius: 10px !important;
  margin-bottom: 50px;
}
.profile-section-container .porfilebox {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-section-container .porfilebox h4 {
  font-size: 25px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}
.profile-section-container .porfilebox h5 {
  font-size: 20px;
  color: black;
  font-weight: 300;
}

.profile-section-Heading {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.profile-section-Sub-Heading {
  font-size: 18px;
  font-weight: 600;
}

.border-right {
  border-right: solid 1px rgba(128, 128, 128, 0.237) !important;
  height: inherit;
  width: 1px;
}

.theme-outline-button {
  border: solid 1px #b08218;
  color: #b08218;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5px 20px;
  background-color: white;
  border-radius: 6px;
}

.counter_absol {
  position: absolute;
  top: 60px;
  right: 15px;
}

.flash-sale .show-counter {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flash-sale .overlyasper {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.623);
}
.flash-sale .countdown {
  padding: 0px;
}
.flash-sale .countdown > p {
  margin: 0;
  padding: 0px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
}

.blogImage {
  height: 350px;
  width: 100%;
  -o-object-fit: fill;
  object-fit: fill;
}

.main-blog {
  background-color: #f9f9f9;
}
.main-blog .al_center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-blog .al_center .blog_bx_left {
  width: 48%;
  height: 380px;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.11);
  border-radius: 8px;
}
.main-blog .al_center .blog_bx_left .blog__img {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  display: flex;
  margin: auto;
  border-radius: 12px;
}
.main-blog .al_center .blog_bx_right {
  width: 48%;
}
.main-blog .al_center .blog_bx_right .blog-headingtext {
  font-size: 45px;
  color: #000;
  font-weight: 500;
}
.main-blog .al_center .blog_bx_right p {
  font-size: 19px;
  line-height: 1.5;
  margin-bottom: 15px;
}
.main-blog .al_center .blog_bx_right .writer_name,
.main-blog .al_center .blog_bx_right .content_date {
  color: #919191;
  font-size: 15px;
}
.main-blog .container-fluid {
  padding: 0px 9pc;
}

.blog_listing {
  margin-bottom: 50px;
}
.blog_listing .blog_listing_img {
  overflow: hidden;
  border-radius: 10px;
}
.blog_listing .blog_listing_img img {
  width: 100%;
  height: 190px;
  border-radius: 10px;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.7s;
  transition-property: all;
}
.blog_listing .blog_listing_img:hover img {
  filter: brightness(0.6);
  transition: 1s all;
  transform: scale(1.2);
}
.blog_listing .list_content_blog h6 {
  margin: 20px 0;
  color: #fcaf17;
}
.blog_listing .list_content_blog h4 {
  font-size: 22px;
  line-height: 30px;
  color: #4a4a4a;
  font-weight: 600;
}
.blog_listing .list_content_blog p {
  margin: 12px 0;
}
.blog_listing .list_content_blog .btn.blog_readmore {
  color: #000;
  font-weight: 600;
  padding-left: 0;
  font-size: 16px;
}
.blog_listing .list_content_blog .btn.blog_readmore:hover {
  color: #fcaf17 !important;
}
.blog_listing .list_content_blog .btn.blog_readmore:hover svg {
  font-size: 22px;
  transition: all 0.2s;
}
.blog_listing .list_content_blog .btn.blog_readmore svg {
  transition: all 0.2s;
}

.blog-box .btn {
  letter-spacing: 1px;
}
.blog-box h4 {
  margin: 14px 0 5px;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.5;
}
.blog-box h4 a {
  color: #000000;
}
.blog-box .image {
  height: 275px;
}
.blog-box .image img {
  border-radius: 15px;
}
.blog-box ul.tags {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}
.blog-box ul.tags li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  color: #4d4d4d;
}

.active-tab {
  background-color: #ddc99b;
  color: white;
  text-align: center;
  padding: 20px 0px 10px 0px;
  cursor: pointer;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.in-active {
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px 0px 10px 0px;
  cursor: pointer;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid #ccc;
}

.dataContainer h4 {
  margin-top: 25px;
}

.dataContainer ul li {
  list-style: circle;
  margin-bottom: 15px;
}

.sliderimg {
  height: 50vh;
  width: 100%;
}

.team_img img {
  height: 350px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 25px;
  border-radius: 5px;
}

.centercentr {
  text-align: center;
}

.middlebar_new .custom-search {
  position: relative;
}

.middlebar_new form.search-bar .form-control {
  background: #eeeeee;
  border: 0;
  border-radius: 0;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 350px;
}

.middlebar_new form.search-bar {
  display: flex;
}

.middlebar_new form.search-bar .pointer {
  display: flex;
  gap: 10px;
}

.middlebar_new form.search-bar .form-control input {
  border: 0;
  background: transparent;
  width: 100%;
}

.middlebar_new .middle-bar .navbar-nav {
  justify-content: center;
  gap: 20px;
}

.topheader_scroll {
  overflow-x: scroll;
}

.topheader_scroll::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

.topheader_scroll::-webkit-scrollbar-track {
  background: #ddc99e;
}

/* Handle on hover */
.topheader_scroll::-webkit-scrollbar-thumb:hover {
  background: #bea777;
  border-radius: 10px;
}

.webkitnone.navbar-nav {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.middlebar_new .nav .nav-link {
  cursor: pointer;
  font-weight: 500;
  color: #000;
  position: relative;
}

.middlebar_new .nav .nav-link span {
  position: absolute;
  top: 3px;
  width: 16px;
  height: 16px;
  background-color: #b08229;
  color: #fff;
  left: 25px;
  border-radius: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}

.middlebar_new .sign-in-btn button {
  gap: 5px;
  border: 0;
  background-color: transparent;
}

.middlebar_new .sign-in-btn button img {
  width: auto;
  height: 40px;
  -o-object-fit: contain;
  object-fit: contain;
}

.middlebar_new {
  padding: 20px 4pc;
}

.middlebar_new .sign-in-btn .custom-search ul.custom-search-list {
  border-radius: 15px;
  width: -moz-max-content;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1pc;
  padding: 1pc 0;
  width: 230px;
}

.custom-search .custom-search-list li a {
  display: flex;
  gap: 10px;
}

.searchBox.listsearch a p {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(225, 225, 225, 0.3411764706);
}

.supplierlist li {
  list-style: none;
}

.btn-outline-custom {
  color: #b08218;
  border-color: #b08218;
}

.btn-outline-custom:hover {
  color: white;
  background-color: #b08218;
}

.address {
  font-size: 13px;
  line-height: 21px;
}

.thankucard {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 6pc 0;
  text-align: center;
  margin: 5pc 0;
  border-radius: 5px;
}

.resendtp {
  color: #000;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 1400px) and (min-width: 1367px) {
  .bottom-bar.navbar .navbar-nav .nav-link a {
    font-size: 15px;
  }
}
@media (max-width: 1600px) and (min-width: 992px) {
  .middlebar_new form.search-bar .form-control {
    min-width: auto;
  }
  .subscription-container .subsctiption-heading {
    font-size: 30px;
  }
  .middlebar_new {
    padding: 20px 1pc;
  }
  .flex_row {
    align-items: center;
  }
  .middlebar_new .nav .nav-link {
    padding: 0px 12px;
  }
  .middlebar_new .sign-in-btn button img {
    height: 30px;
  }
}
@media (max-width: 1367px) and (min-width: 992px) {
  .page-banner .content h1 {
    font-size: 23px;
  }
  .bottom-bar.navbar .navbar-nav .nav-link a {
    font-size: 13px;
  }
  .middlebar_new .nav .nav-link {
    font-size: 13px;
  }
  .page-banner .content p.desp {
    font-size: 13px;
  }
  .main-logo {
    height: auto !important;
    width: 100% !important;
  }
  .middle-bar.navbar form.search-bar .form-control {
    min-width: auto;
  }
  header .topbar,
  header .middle-bar,
  header .bottom-bar {
    padding-left: 1pc;
    padding-right: 1pc;
  }
  .bottom-bar {
    padding-left: 1pc;
    padding-right: 1pc;
  }
  .bottom-bar.navbar .navbar-nav .nav-link {
    font-size: 13px;
  }
  .bottom-bar.navbar .navbar-nav {
    gap: 0;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .searchBox {
    top: 120px;
  }
  .middle-bar.navbar form.search-bar button.btn {
    font-size: 12px;
  }
  .middle-bar.navbar .navbar-nav .nav-link {
    font-size: 13px;
  }
  .middle-bar.navbar form.search-bar .form-control {
    min-width: auto;
  }
  .mobile-logo {
    width: 30%;
  }
  .footer a {
    font-size: 13px;
  }
  .footer .title {
    font-size: 16px;
  }
  .footer .social-links {
    gap: 5px;
  }
}
@media (max-width: 992px) {
  .category .box .text {
    background: #fff;
  }
  .category .box .text h5 {
    color: #000 !important;
  }
  .mobileheader {
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 8px 0;
  }
  .bottom-bar.navbar {
    background-color: unset !important;
  }
  .mobileheader .mobile-logo {
    width: 90%;
  }
  .custom-dropdown ul.category-list li {
    width: 100% !important;
  }
  .page-banner.supplierbanner {
    margin: 0 10px;
  }
  .subscription-container .subsctiption-heading {
    font-size: 19px;
    margin-bottom: 10px;
  }
  .subscription-container .subscription-description {
    width: 100%;
    font-size: 15px;
  }
  .subscription-container .subscription-card {
    width: 47%;
    margin: 0 !important;
  }
  .main-blog .container-fluid {
    padding: 0px 15px;
  }
  .product-page .mid ul.info {
    width: 100%;
  }
  .middlebar_new .sign-in-btn .custom-search ul.custom-search-list li a {
    display: flex;
    gap: 10px;
    font-size: 14px;
  }
  .custom-search .custom-search-list li {
    padding: 7px 5px;
  }
  .topnavigation .container-fluid {
    flex-direction: row-reverse;
    flex-wrap: unset;
  }
  .topnavigation .navbar-toggler {
    border: none;
    box-shadow: none !important;
  }
  .reverheadermobile {
    display: flex;
    flex-direction: column-reverse;
  }
  .middlebody {
    display: unset;
  }
  .middlebar_new {
    padding: 10px 0px;
  }
  .middlebar_new .sign-in-btn button img {
    height: 30px;
  }
  .middlebar_new form.search-bar .form-control {
    min-width: auto;
    height: 36px;
  }
  .middlebar_new .sign-in-btn button {
    gap: 0;
    font-size: 12px;
  }
  .mobile_botm_border.navbar-nav .nav-link {
    border-bottom: 1px solid #dee2e6;
    padding: 8px 10px;
    color: #000;
  }
  .custom-dropdown ul.category-list .link {
    color: #8d8d8d;
  }
  .custom-dropdown ul.category-list {
    gap: 0;
  }
  .mainnavigation .nav-link {
    padding: 0;
  }
  .mainnavigation .offcanvas-body {
    padding: 0;
  }
  .mainnavigation .accordion-button.collapsed {
    border-radius: 0 !important;
    color: #989898;
    padding: 12px 10px !important;
  }
  .mainnavigation .accordion-button {
    background-color: #fff !important;
    color: #000;
    padding: 10px;
  }
  .mainnavigation .accordion-button:focus {
    box-shadow: none;
  }
  .mainnavigation .accordion-body {
    padding: 1px 0;
  }
  .custom-dropdown {
    position: unset;
    height: unset;
    overflow: unset;
    background-color: unset;
    transform: unset;
  }
  .custom-dropdown-inner {
    padding: 0;
    height: unset;
    display: unset;
  }
  .custom-dropdown-inner li {
    padding: 5px 0;
    font-size: 13px;
    border-bottom: 1px solid rgba(152, 152, 152, 0.2705882353);
  }
  .custom-dropdown-inner li:last-child {
    border-bottom: none;
  }
  .btnmodalfiexed {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
    background-color: #ddc99b;
    padding: 10px;
    color: #000;
    z-index: 99;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    left: 0;
    right: 0;
    padding: 0;
  }
  .filtershowbtn {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ddc99b;
    padding: 10px;
    color: #000;
    z-index: 99;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
  header .topbar,
  header .middle-bar,
  header .bottom-bar {
    padding-left: 4px;
    padding-right: 4px;
  }
  .heading.bottom-line {
    width: auto !important;
    font-size: 23px;
  }
  footer .main-logo {
    width: 100% !important;
  }
  .contact-us .right h3 {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .ptb-80 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
}
@media (max-width: 768px) {
  .editprofilemt0 .pt-4,
  .editprofilemt0 .mt-4 {
    padding-top: 10px !important;
  }
  .editprofilemt0 .my-4 {
    margin-top: 10px !important;
    margin-bottom: 0 !important;
  }
  .border-right {
    display: none;
  }
  .flash-sale-box {
    padding: 1pc;
    margin-bottom: 1pc;
  }
  .expired-notice {
    padding: 0.4rem;
  }
  .flash-sale-box .title {
    height: 143px;
  }
  .flash-sale-box .title h1 {
    font-size: 30px;
  }
  .flash-sale-box .offer h4 {
    font-size: 18px;
  }
  .supplier-detail {
    margin: 0 1pc;
  }
  .sign-in-modal {
    padding: 20px 1pc;
  }
  .custom-modal .btn-close {
    top: 2px;
  }
  .product-tabs ul.tabs {
    gap: 1px;
  }
  .supplermartop {
    margin-top: 15px;
  }
  .supplier-detail .box li.right ul a {
    width: 100%;
  }
  .supplier-detail .box li.left ul.inner {
    display: flex;
    align-items: center;
    gap: 1pc;
    flex-direction: column-reverse;
  }
  .supplier-detail .box li.left img {
    width: 100%;
    height: 230px;
  }
  .profile-section-container {
    margin-bottom: 5px;
  }
  .profile-section-container h4 {
    font-size: 19px;
    margin-bottom: 0;
  }
  .profile-section-container .porfilebox h4 {
    font-size: 18px;
    text-align: center;
  }
  .profile-section-Heading {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .middlebar_new .sign-in-btn .custom-search ul.custom-search-list {
    padding: 10px 15px;
  }
  .overlayflowscroll.row {
    overflow-x: scroll;
    flex-wrap: nowrap;
  }
  .overlayflowscroll .col-lg-2.col-12.active-tab {
    max-width: 170px;
    flex: 1;
  }
  .overlayflowscroll .col-lg-2.col-12.in-active {
    max-width: 170px;
    flex: 1;
  }
  .regsiter_user .right h3,
  .regsiter_user .right h4 {
    font-size: 19px;
  }
  .mobilebootm {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .regsiter_user .m-3 {
    margin: unset !important;
    padding-bottom: 25px;
  }
  .news-letter h1.heading.mb-0.text-end.brown {
    text-align: center !important;
    margin-bottom: 15px !important;
  }
  .shop-page h4 {
    font-size: 17px;
  }
  .page-banner .content p.desp {
    display: none;
  }
  .custom-search .yellow-bg {
    padding: 0px 7px;
    font-size: 10px;
  }
  .title-section.with-btn .btn {
    transform: translateY(92%) !important;
    font-size: 10px;
    padding: 4px 14px;
  }
  .middlebar_new .sign-in-btn .custom-search ul.custom-search-list {
    left: 50%;
    transform: translateX(-95%);
  }
  .middlebar_new .sign-in-btn button img {
    height: 20px;
  }
  .tab-description ul.info .text-dark {
    text-align: right;
  }
  .tab-description ul.info {
    font-size: 14px;
  }
  .product-page .mid ul.info li {
    font-size: 14px;
  }
  .product-page .mid ul.info li .text-dark {
    text-align: right;
  }
  .product-page .mid ul.info {
    width: 100%;
  }
  .product-page .mid {
    padding-top: 60px;
  }
  .product-page .big-img img {
    height: 240px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .middle-bar.navbar form.search-bar .form-control {
    min-width: auto;
  }
  .flex_row {
    align-items: center;
  }
  .flex_row.d-flex.mobile_right {
    justify-content: end;
  }
  .mobile-logo {
    width: 50%;
  }
  .sliderimg {
    height: 50vh;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .product-box {
    margin-top: 10px;
    min-height: 340px;
  }
  .products .row {
    overflow: scroll;
    flex-wrap: nowrap;
  }
  .products .col-12 {
    flex: 1 1;
    min-width: 307px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 30px;
    height: 30px;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 15px;
  }
  .subscription-container .subsctiption-heading {
    font-size: 19px;
    margin-bottom: 10px;
  }
  .subscription-container .subscription-description {
    width: 100%;
    font-size: 15px;
  }
  .subscription-container .subscription-card {
    width: 47%;
  }
}
@media (max-width: 567px) {
  .row.flex_deraction_row {
    flex-direction: column;
  }
  .shop-filter .list {
    overflow-x: scroll;
  }
  .category .box img {
    height: 190px !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .category .box {
    overflow: visible;
    height: unset !important;
    margin-bottom: 20px;
    margin-left: 0;
  }
  .category .box .text {
    position: unset;
  }
  .d-flex.flexunset {
    display: unset !important;
  }
  .product-page .mid ul.info li,
  .product-tabs .tab-description ul.info li {
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
  }
  .footer .title {
    margin-bottom: 0;
    padding: 0px 0;
    margin-top: 22px;
    margin-bottom: 12px;
  }
  .searchBox {
    width: 70%;
  }
  .shoppagepading .page-banner {
    height: 20vh;
  }
  .supplier-detail .box li.right ul {
    align-items: unset;
  }
  .product-tabs ul.tabs li {
    font-size: 15px;
  }
  .product-tabs ul.tabs {
    gap: 10px;
  }
  .theme-outline-button {
    padding: 5px 4px;
    font-size: 11px;
  }
  .mysubcripterfong {
    font-size: 13px;
    margin-bottom: 0;
  }
  .subscription-container .subsctiption-heading {
    font-size: 19px;
    margin-bottom: 10px;
  }
  .subscription-container .subscription-card {
    width: 100%;
  }
  .subscription-container .subscription-description {
    width: 100%;
    font-size: 15px;
  }
  .mobiletoppadding {
    margin-top: 23px;
  }
  .mobiletoppadding .profile-section-Heading {
    font-size: 18px;
  }
  .profile-section-container {
    min-height: auto;
    overflow: hidden;
  }
  .profile-section-container {
    padding: 30px 12px !important;
  }
  .more-box .content {
    padding: 5pc 1pc 2pc;
  }
  .page-banner .content h1 {
    font-size: 23px;
  }
  .page-banner {
    height: 28vh;
  }
  .middle-bar.navbar form.search-bar button.btn {
    font-size: 12px;
  }
  .middle-bar.navbar .navbar-nav {
    gap: 0;
  }
  .middle-bar.navbar .sign-in-btn button {
    font-size: 14px;
  }
  .middle-bar.navbar .sign-in-btn button img {
    width: 45px;
  }
  .middle-bar.navbar .navbar-nav .nav-link {
    font-size: 13px;
    padding: 0px;
    margin-right: 14px;
  }
  .navbar {
    padding: 0;
  }
  header .topbar,
  header .middle-bar,
  header .bottom-bar {
    padding-left: 0;
    padding-right: 0;
  }
  .bottom-bar.navbar {
    padding: 8px 0;
  }
  .sliderimg {
    height: 20vh;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .category .box {
    height: 292px;
  }
  .category .box .text h5 {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    padding: 10px 0;
  }
  .px-4pc {
    padding-left: 1px !important;
    padding-right: 1px !important;
  }
  .product-box {
    padding: 0;
  }
  .vender-box .inner {
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 15px;
    background: #fff;
  }
  .vender-box img.img {
    height: 94px;
  }
  .vender-box .btn.btn-yellow {
    font-size: 12px;
  }
  .find-supplier h6 {
    font-size: 14px;
  }
  .contact-us .left {
    padding-top: 0;
    padding-bottom: 60px;
  }
  .contact-us .left .heading {
    margin-bottom: 2pc;
  }
  .find-supplier img.img {
    height: 101px;
  }
  .find-supplier {
    padding: 10px;
  }
  .vender-box h6 {
    font-size: 14px;
    padding: 3px 0;
  }
  .product-box-2 img.img {
    height: 200px;
  }
  .product-box-2 ul.tags li {
    font-size: 13px;
  }
  .product-box-2 {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .category .box {
    height: 175px;
  }
  .mobileserach.custom-search .custom-search-list {
    width: 226px;
    left: 20px;
    top: 40px;
  }
  .profile-section-container .porfilebox h4 {
    font-size: 13px;
  }
  .contact-us .right form.form {
    padding: 18px 2px;
  }
  .title-section.with-btn .btn {
    display: none;
  }
  .category .box .text {
    padding: 6px 10px;
  }
  .category .box .text a {
    font-size: 12px;
  }
}
@media (max-width: 768px) and (min-width: 567px) {
  .px-4pc {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .middlebar_new .nav .nav-link {
    padding: 0px 2px;
  }
  .shoppagepading.px-4pc {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #797979;
  line-height: 1.7em;
  font-weight: 400;
  background: #fff;
  overflow-x: hidden;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.ptb-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pt-80 {
  padding-top: 80px !important;
}

.pb-80 {
  padding-bottom: 80px !important;
}

.px-4pc {
  padding-left: 4pc;
  padding-right: 4pc;
}

.btn:focus {
  box-shadow: none;
}
.btn-custom {
  font-weight: 500;
  --bs-btn-padding-x: 1pc;
}
.btn-hover {
  position: relative;
  overflow: hidden;
}
.btn-hover:before {
  position: absolute;
  background: rgba(255, 255, 255, 0.5019607843);
  height: 100%;
  width: 100%;
  top: 0;
  left: 100%;
  content: "";
  border-radius: 3px;
  transition: all 0.5s;
}
.btn-hover:hover:before {
  transition: all 0.5s;
  left: 0;
  transform: translateX(-100%);
}
.btn-brown {
  background-color: #b08218;
  color: #fff;
  transition: all 0.5s;
}
.btn-brown:hover {
  background-color: #000 !important;
  color: #fff !important;
  transition: all 0.5s;
}
.btn-black {
  background-color: #363636;
  color: #fff;
}
.btn-black:hover {
  background-color: #363636 !important;
  color: #fff !important;
}
.btn-yellow {
  background-color: #b08218;
  color: #fff;
  border-width: 2px;
  border-radius: 5px;
}
.btn-yellow:hover {
  background-color: #fff !important;
  color: #b08218 !important;
  border-color: #b08218;
}
.btn-link-yellow {
  color: #b08218;
  border-bottom: #b08218 solid 1px;
  padding: 0px;
  margin: 0px;
  width: -moz-max-content;
  width: max-content;
  border-radius: 0px !important;
}
.btn-link-yellow:hover {
  color: #b08218 !important;
  border-bottom-color: #b08218;
}
.btn.with-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.poppin {
  font-family: "Poppins", sans-serif !important;
}

.brown {
  color: #b08218 !important;
}

.brown-bg {
  background-color: #b08218 !important;
}

.yellow {
  color: #b08218 !important;
}

.yellow-bg {
  background-color: #b08218 !important;
}

.gray-bg {
  background-color: #f3f4f8 !important;
}

.fs-15 {
  font-size: 15px;
}

.list-circle li {
  list-style-type: circle;
  list-style-position: inside;
}

.flex-1 {
  flex: 1;
}

.heading {
  font-weight: 700;
}
.heading.bottom-line {
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  padding-bottom: 1pc;
  background-image: url("../images/decor/line.png");
  background-repeat: no-repeat;
  background-size: 250px;
  background-position: center bottom;
  font-weight: 500;
}

.title-section.with-btn {
  text-align: center;
  position: relative;
}
.title-section.with-btn .heading {
  margin-bottom: 0;
}
.title-section.with-btn .btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.title-section.with-btn .btn.btn-custom {
  --bs-btn-padding-x: 1.5pc;
  --bs-btn-padding-y: 7px;
}

p {
  line-height: 1.8em;
}
p:last-child {
  margin-bottom: 0;
}

.img-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.img-contain {
  -o-object-fit: contain;
  object-fit: contain;
}

.img-position-top {
  -o-object-position: top;
  object-position: top;
}

.img-fill {
  -o-object-fit: fill;
  object-fit: fill;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.5s;
}
a:hover {
  transition: all 0.5s;
  color: #b08218;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

.btn-sm {
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.main-logo {
  height: 61px;
  width: auto;
  -o-object-fit: contain;
  object-fit: contain;
  transition: all 0.5s;
}

.translateX {
  transform: translateX(0) !important;
}

.pointer {
  cursor: pointer;
}

.overlay {
  position: relative;
}
.overlay:before {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  z-index: 66;
  pointer-events: none;
}

#scrollUp {
  position: fixed;
  right: 1pc;
  bottom: 1pc;
  opacity: 0;
}
#scrollUp .scroll-inner {
  height: 45px;
  width: 45px;
  background: #f16331;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #fff;
  font-size: 22px;
  cursor: pointer;
}

#call-us {
  position: fixed;
  right: 2pc;
  bottom: 1pc;
  filter: drop-shadow(0px 0px 6px gray);
  z-index: 9999;
  opacity: 0;
}
#call-us:before {
  content: "";
  position: absolute;
  border: 2px solid #fff;
  bottom: 0;
  right: 0;
  transform: translate(-2px, -2px);
  height: 15px;
  width: 15px;
  background: #128c7e;
  z-index: 0;
}
#call-us .call-us-inner {
  height: 55px;
  width: 55px;
  background: #128c7e;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  font-size: 30px;
  transform: scaleX(-1);
}
#call-us .call-us-inner i {
  animation: phone 1.5s linear 0s infinite alternate;
}

.line {
  width: 70px;
  background: #fff;
  height: 1px;
}

.line-height-normal {
  line-height: normal;
}

input:focus-visible {
  outline: 0;
}

input[type="checkbox"] {
  height: 17px;
  width: 17px;
  border: 2px solid #d0d0d0;
  border-radius: 0 !important;
  position: relative;
  background-color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="checkbox"].form-check-input {
  margin: 0;
}
input[type="checkbox"].form-check-input:focus {
  border-color: rgba(0, 0, 0, 0.2509803922);
  box-shadow: none;
}
input[type="checkbox"].form-check-input:checked {
  background-color: #b08218;
  border-color: #b08218;
}

input[type="radio"] {
  cursor: pointer;
}
input[type="radio"]:checked {
  background-color: #b08218;
  border-color: #b08218;
}
input[type="radio"]:focus {
  border-color: #b08218;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(176, 130, 24, 0.2509803922);
}

input[type="range"]::-webkit-slider-thumb {
  background: #b08218;
}
input[type="range"]::-webkit-slider-thumb:focus {
  background: #b08218 !important;
}

.form [class*="col-"] {
  margin-bottom: 10px;
}
.form [class*="col-"]:last-child {
  margin-bottom: 0;
}
.form .form-control {
  background: #f5f5f5;
  border: 0;
  padding: 12px 1pc;
  font-weight: 500;
  color: #b08218;
}
.form .form-control:focus {
  box-shadow: none;
  border-color: #b08218;
  transition: all 0.5s;
}
.form .form-control:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.form .form-control:focus::placeholder {
  opacity: 0;
  transition: all 0.5s;
}
.form .form-control::-moz-placeholder {
  opacity: 1;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: capitalize;
}
.form .form-control::placeholder {
  opacity: 1;
  transition: all 0.5s;
  text-transform: capitalize;
}
.form label {
  margin: 0;
  color: #000000;
  line-height: 20px;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
}

.address-map {
  margin: 0 10px;
  padding: 8px 60px 8px 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  border-radius: 2px;
  background-color: white;
  position: absolute;
  top: -5px;
  left: -5px;
  text-align: left;
  z-index: 1;
}
.address-map p,
.address-map a {
  font-size: 15px;
}

.check {
  -webkit-appearance: auto !important;
  -moz-appearance: auto !important;
  appearance: auto !important;
} /*# sourceMappingURL=main.css.map */

/* pagination for shop page */
#react-paginate {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

#react-paginate ul {
  gap: 20px;
}

#react-paginate li {
  display: inline-block;
  /* border: 1px solid rgb(224, 224, 224);
  color: #000; */
  cursor: pointer;
  margin-right: 3px;
  border-radius: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  color: #fff !important;
}

#react-paginate li a {
  width: 45px !important;
  height: 45px !important;
  border-radius: 50% !important;
  text-align: center !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: #b08218 !important;
  background-color: transparent !important;
  border: 1px solid #b08218 !important;
}

#react-paginate li a svg {
  font-size: 20px;
}

#react-paginate li.active a {
  background: #b08218 !important;
  outline: none;
  color: #fff !important;
}

@media only screen and (max-width: 991px) {
  #react-paginate {
    margin-bottom: 0px !important;
  }
  #react-paginate ul {
    gap: 12px;
    margin-bottom: 0px;
  }

  #react-paginate li a {
    width: 35px !important;
    height: 35px !important;
    font-size: 14px !important;
  }
}
